body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    animation: fadeIn 2s ease-in;
    font-size: 2.5rem;
}

section {
    padding: 2rem 1rem;
    text-align: center;
    margin-top: 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 20px;
}

section h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
    animation: slideIn 1s ease-in-out;
    color: #333;
    border-bottom: 2px solid #333;
    display: inline-block;
    padding-bottom: 0.3rem;
}

section p, .project {
    margin-bottom: 1rem;
    animation: fadeIn 1.5s ease-in;
    color: #555;
}

.project {
    padding: 1rem;
    border: 1px solid #ddd;
    margin: 1rem auto;
    max-width: 530px;
    height: 90%;
    animation: fadeIn 2s ease-in-out;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #fff;
    transition: transform 0.3s, box-shadow 0.3s;
    display: grid;
    grid-template-areas:
        'project-title project-title'
        'project-img project-desc';
}

@media (max-width: 700px) {
    .project {
      display: flex;
      flex-direction: column;
    }
  }

.project:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    body {
        padding: 0 10px;
    }

    header h1 {
        font-size: 1.8rem;
    }

    section h2 {
        font-size: 1.5rem;
    }

    .project {
        max-width: 100%;
        padding: 0.5rem;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.5rem;
    }

    section h2 {
        font-size: 1.2rem;
    }

    section p, .project {
        font-size: 0.9rem;
    }

    .project {
        padding: 0.5rem;
    }
}

.link {
    text-decoration: none;
    color: #333;
    transition: color 0.3s, text-decoration 0.3s;
}

.link:hover {
    text-decoration: underline;
    color: #007BFF;
}

.project-link {
    text-decoration: none;
    color: inherit;
    max-width: 600px;
    display: inline-block;
}

img {
    width: 200px;
}

@media (max-width: 700px) {
    img {
        align-self: center;
        width: 80%;
    }
}

.project-desc {
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
}

.project-img {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.project-title { grid-area: project-title;}
.project-desc { grid-area: project-desc;}
.project-img { grid-area: project-img;}

.card {
    background-color: #333; /* Light grey background */
    border-radius: 12px; /* Rounded corners */
    padding: 10px 15px; /* Padding inside the card */
    color: #fff;
    box-shadow: 0 4px 8px rgba(72, 112, 115, 0.1); /* Subtle shadow for a 3D effect */
    margin: 10px 10px; /* Margin to separate cards */
    transition: transform 0.3s, box-shadow 0.3s; /* Smooth transition for hover effects */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Optional hover effect */
.card:hover {
    transform: translateY(-5px); /* Slight lift on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}

#tech-stack {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 80px;
    padding-right: 80px;
}

@media (max-width: 700px) {
    #tech-stack {
        display: grid;
        grid-template-columns: 50% 50%;
        padding-left: 20px;
        padding-right: 20px;
    }
}

#about-text {
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
}

.content-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 5px;
}

@media (max-width: 1200px) {
    .content-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}